SUBSYSTEM=="tty", ATTRS{serial}=="5586005208", SYMLINK+="ttyLimitimer", MODE="0660", GROUP="dialout", TAG+="systemd", ENV{SYSTEMD_WANTS}+="pitg-gpio.service"
