[Unit]
Description=PiTG GPIO Protocol Transmitter
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/pitg-gpio
ExecStart=/bin/sh -c '/usr/local/bin/pitg-gpio ${PITG_GPIO_OPTS:--p limitimer -u /dev/ttyLimitimer -b 19200 -i 250 -c 0 -t 10:00}'
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
