[Unit]
Description=PiTG PerfectCue Button Bridge
After=multi-user.target dev-ttyRS485.device
BindsTo=dev-ttyRS485.device
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=-/etc/default/pitg-cue-buttons
ExecStart=/bin/sh -c '/usr/local/bin/pitg-cue-buttons ${PITG_CUE_BUTTONS_OPTS:--N 23 -P 24 -S /dev/ttyRS485 -B 19200 -D 120 -c 0 -T}'
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
